	<div class="footer">
		<div class="container">
			<small>
				<%= link_to "Pinclone", root_path %> 
				by <%= link_to "Ryan Johnson", "http://www.linkedin.com/in/rjohnson008" %>
			</small>
		</div>
	</div>